<html>
    <head>
        <title>inVenTs Vending Machine</title>
    </head>
    <body>
        <h1>
            Gumball Machine
        </h1>
        <form method="POST" action="{{ self.url }}">
            {% csrf_token %}
            <div>
                {% if not machine.has_money %}
                <button id="insert_coin" name="insert_coin">Insert Coin</button>
                {% else %}
                <button id="gumball" name="item" value="Gumball">Gumball</button>
                <button id="runts" name="item" value="Runts">Runts</button>
                <button id="mms" name="item" value="M&Ms">M&Ms</button>
                <button id="jawbreakers" name="item" value="Jawbreaker">Jawbreaker</button>
                {% endif %}
            </div>
            <br />
            <div>
                {{ message }}
            </div>
        </form>
    </body>
</html>