<html>
    <head>
        <title>inVenTs Vending Machine</title>
    </head>
    <body>
        <h1>
            Gumball Machine
        </h1>
        <form method="POST" action="{{ self.url }}">
            {% csrf_token %}
            <div>
                <h2>
                    Insert Coins
                </h2>
                <button id="nickel" name="coin_entered" value="5">5</button>
                <button id="dime" name="coin_entered" value="10">10</button>
                <button id="quarter" name="coin_entered" value="25">25</button>
                <div>
                    Current Balance: ${{ machine.current_balance }}
                </div>
            </div>
            <div>
                <h2>
                    Products
                </h2>
                {% for product in machine.products.all %}
                    <button name="item" value="{{ product.name }}">{{ product.name }}</button>
                {% endfor %}
            </div>
            <br />
            <div>
                {{ message }}
            </div>
        </form>
    </body>
</html>